@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --text: #010104;
    --background: #e8f2f1;
    --primary: #80dbd2;
    --secondary: #c5c5d8;
    --accent: #313a9b;
    --vrdark: #010409;
    --vrwhite: #F6F8FA;
    --bg:#091316;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--text);
    background-color: var(--background);
}

* {
    /* border: red 1px solid;    */
}
body.dark {
    color: white;
    background-color: var(--bg);
}

header {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}

a {
    text-decoration: none;
    color: var(--text);
}


.logo {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: var(--accent);
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.menu > ul {
    display: flex;
    gap: 40px;
    list-style: none;
}


.menu a {
    padding: 6px 12px;
    border-radius: 5px;
}
.menu a:hover {
    color: var(--accent);
    font-weight: bold;
    background-color: var(--background);
}

/* main section */

.statistics {
    background-color: var(--secondary);
    padding: 50px 70px;
}

.bgtitle {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding: 0px 0px 30px 0px; 
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* padding: 50px 0px; */
}

.stxt {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.cirlce {
    background-color: var(--accent);
    width: 90px;
    height: 90px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--vrwhite);
    font-size: 20px;
    font-weight: bolder;
}


footer {
    background-color: var(--vrdark);
    color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
}

p {
    margin: 0px;
}

footer a {
    color: var(--accent);
    font-weight: bold;
}

i {
    font-size: 24px;
}





@media (min-width: 481px) and (max-width: 768px) {
.logo {
    font-size: 30px;
} 

.logo img {
    height: 20px;
}

.menu {
    display: none;
}
}